// Pink
.stm-bg_color_pink {
	background-color: $orange !important;
}

.stm-background_color_pink {
	background-color: $orange !important;
}

.stm-border_color_pink {
	border-color: $orange !important;
}

.stm-font_color_pink {
	color: $orange !important;
}

.stm-font_color_blue {
	color: $blue !important;
}

.stm-border-bottom_color_pink {
	border-bottom-color: $orange !important;
}

// Orange
.stm-bg_color_orange {
	background-color: $orange !important;
}

.stm-background_color_orange {
	background-color: $orange !important;
}

.stm-border_color_orange {
	border-color: $orange !important;
}

.stm-font_color_orange {
	color: $orange !important;
}

.stm-icon_color_orange {
	color: $orange !important;
}

.stm-border-bottom_color_orange {
	border-bottom-color: $orange !important;
}

// Lilac
.stm-bg_color_lilac {
  background-color: $blue !important;
}

.stm-background_color_lilac {
  background-color: $blue !important;
}

.stm-border_color_lilac {
  border-color: $blue !important;
}

.stm-font_color_lilac {
  color: $blue !important;
}

.stm-icon_color_lilac {
  color: $blue !important;
}

.stm-border-bottom_color_lilac {
  border-bottom-color: $blue !important;
}

.stm-font_color_white {
	color: $white !important;
}

// Gray
.stm-font_color_gray {
	color: $gray;
}

// Dark Gray
.stm-font_color_dark-gray {
	color: $dark-gray;
}