$primary-font-family: 'Exo 2', sans-serif;
$primary-font-size: 16px;

$black: #000;
$dark: #333333;
$white: #fff;
$gray: #808080;

$light-gray: #999;
$lighter-gray: #8090a3;
$dark-gray: #595959;
$light-blue: #00aaff;
$error: #ff0000;
$warning: #ff9900;
$very-dark-blue: #001935;

// Default
$green: #81ca00;
$blue: #0c51ff;
$dark-blue: #1f2533;
$dark-red: #8c1515;