$primary-font-family: 'Quicksand', sans-serif;
$primary-font-size: 18px;
$secondary-font-family: 'Patrick Hand', sans-serif;

$black: #000;
$white: #fff;
$gray: #808080;

$light-gray: #999;
$lighter-gray: #b8c0cc;
$dark-gray: #595959;
$light-blue: #34ccff;
$error: #ff0000;
$warning: #ff9900;
$green: #95cc47;
$dark-blue: #011b3a;
$purpure: #bd66ff;
$yellow: #ffdd00;
$lilac: #56509f;
$dark: #333333;
$pink: #ff6682;

// Default
$orange: #fea633;
$blue: #007eff;