.footer {
	.copyright {
		border-top: 1px solid rgba($dark, 0.3);
        background-color: $white;
        padding: 28px 0 34px;
        letter-spacing: 0.28px;
		text-align: center;
		font-size: 14px;
		color: $dark;
        a {
            color: $dark;
            &:hover {
                text-decoration: underline;
            }
        }
	}
}

// Compact
.footer_compact {
	padding-top: 29px;
}

// Widget Area
.widget-area_type_footer {
	padding: {
		top: 61px;
		bottom: 53px;
	}
}

